header {
    color: gold;
    background: maroon;
    font: Georgia;
    font-size: 28px;
    font-style: italic bold;
}

.photo {
    padding: 20px;
    float: left;
}

.bio {
    font: arial;
    font-size: 18px;
}

.Contact {
    font: georgia;
    font-size: 24px;
    color: gold;
    background: maroon;
}